extends layout

block content
  div.container
    div.w-50.m-auto
      form(action="/upload", method="POST", enctype="multipart/form-data")
        div.form-group
          input.form-control(type="file", name="sampleFile")
        div.form-group
          button.w-100.btn.btn-lg.bg-primary(type="submit") Upload
